body.page-header-fixed.page-sidebar-closed-hide-logo.page-content-white
.page-wrapper
    //- HEADER
    .page-header.navbar.navbar-fixed-top
      //- HEADER INNER
      .page-header-inner
        //- LOGO
        .page-logo
          a(href="/")
            img(src="../assets/layouts/layout/img/logo.png", alt="logo", class="logo-default")
          .menu-toggler.sidebar-toggler
            span
        //- RESPONSIVE MENU TOGGLER
        a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
          span
    //- HEADER & CONTENT DIVIDER
    .clearfix
    //- CONTAINER
    .page-container
